<!DOCTYPE html>
<html>
<head>
    <title={{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    {{{body}}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eligendi mollitia nemo, voluptatibus praesentium rerum nulla excepturi vel dolore nihil veritatis temporibus corrupti beatae maiores incidunt unde animi, voluptates dolorem!</p>
</body>
</html>