<nav>
    <div class="holder">
        <ul>
            <li><a href="/admin/home">Inicio</a></li>
            <li><a href="/admin/novedades">Novedades</a></li>
            <li><a href="/admin/staff">Staff</a></li>
        </ul>
    </div>
</nav>