.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.truncate {
    width: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    padding: 20px;
    font-size: 1.3rem;
    margin: 0;
    background: white;
    resize: horizontal;
}

.actions {
    display: flex;
    padding: 10px !important;
    gap: 0.5em;
}