<section class="holder">
    <div class="homeimg">
        <img src="images/home/img01.jpg" alt="avion" />
    </div>
    <div class="columnas">
        <div class="bienvenidos left">
            <h2>Bienvenidos</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Quasi aliquam deserunt aliquid autem eveniet nemo? Dicta doloribus quisquam, 
                consequatur impedit inventore porro soluta architecto ipsa debitis 
                vel quae neque illum?

            </p>
        </div>
        <div class="testimonios right">
            <h2>Testimonios</h2>
            <div class="testimonio">
                <span class="cita">Simplemente excelente</span>
                <span class="autor">Antonio Perez</span>
            </div>
        </div>
    </div>
</section>