<section class="holder">
    <h2>{{title}}</h2>
    <div class="container container">
        {{#each novedades}}
            <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
                <div class="row g-0 novedad">
                    <div class="col-2">
                        <h1 style="text-align: center;">{{this.title}}</h1>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{this.subtitle}}</h5>
                            <p class="card-text">{{this.body}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>