<section class="holder">
    <h2>Servicios</h2>
    <div class="servicios container">
        <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
            <div class="row g-0 sevicio">
                <div class="col-2 servicio-img">
                    <img src="images/servicios/ferroviario.jpg" class="img-fluid rounded-center " alt="Ferroviario">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Transporte Ferroviario</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Adipisci consequatur vero iure enim cupiditate ullam neque veniam, blanditiis, 
                        fugit cumque nesciunt voluptates voluptas similique quod numquam ad quia? Vel, voluptatum!</p>
                </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
            <div class="row g-0 sevicio">
                <div class="col-2 servicio-img">
                    <img src="images/servicios/maritimo.jpg" class="img-fluid rounded-center " alt="Maritimo">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Transporte Maritimo</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Accusamus sequi non harum atque ab quibusdam corporis rerum
                        placeat laboriosam? Hic minima unde eaque vitae eius velit harum reprehenderit, 
                        perferendis animi.</p>
                </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
            <div class="row g-0 sevicio">
                <div class="col-2 servicio-img">
                    <img src="images/servicios/aereo.jpg" class="img-fluid rounded-center " alt="Aereo">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Transporte Aereo</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, magnam maiores.
                        Velit eos quia impedit omnis? Mollitia, doloribus ducimus at, dignissimos dolor necessitatibus 
                        explicabo minima autem placeat minus corporis sequi!</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>